<div class="container">
  <h1>Your new bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
        <%= f.association :movie %>
    <%= f.submit "Submit bookmark", class: "btn btn-primary" %> <%= link_to "Cancel", list_path(@list), class: "btn btn-danger" %>
  <% end %>
</div>
